/*
 * @Author: yb 
 * @Date: 2018-01-25 09:48:01 
 * @Last Modified by: yb
 * @Last Modified time: 2018-01-30 14:20:09
 */


/* 单行文本溢出 */

.texts {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 多行文本溢出 */

.text-p {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
}


/*  table*/

.bayax-table {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.bayax-table td {
    max-width: 200px;
    min-width: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bayax-table tbody>tr:nth-of-type(even) {
    background-color: #f8fbfa;
}

.bayax-table tbody>tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

.bayax-anim-upbit {}

.bayax-anim {
    -webkit-animation-name: define-upbit;
    animation-name: define-upbit;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* 下拉按钮组 动画 */

@keyframes define-upbit {
    from {
        transform: translate3d(0, 30px, 0);
        opacity: .3
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.ybui-inline,
img {
    display: inline-block;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.ybui-edge,
.ybui-header,
.ybui-inline,
.ybui-main {
    position: relative;
}

.ybui-btn,
.ybui-edge,
.ybui-inline,
img {
    vertical-align: middle;
}

.ybui-btn,
.ybui-disabled,
.ybui-icon,
.ybui-unselect {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none
}

blockquote,
body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h4,
h5,
h6 {
    font-size: 100%;
}

button,
input,
optgroup,
option,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

body {
    line-height: 24px;
    font: 14px Helvetica Neue, Helvetica, PingFang SC, \5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif
}

hr {
    height: 1px;
    margin: 10px 0;
    border: 0;
    clear: both
}


/* a-标签 */

a {
    color: #333;
    text-decoration: none
}

a:hover {
    color: #777
}


/* box-sizing */

.ybui-border-box,
.ybui-border-box * {
    box-sizing: border-box;
}

.ybui-box,
.ybui-box * {
    box-sizing: content-box;
}


/* 清除浮动 */

.ybui-clear {
    clear: both;
    *zoom: 1
}

.ybui-clear:after {
    content: '\20';
    clear: both;
    *zoom: 1;
    display: block;
    height: 0
}

.ybui-inline {
    *display: inline;
    *zoom: 1;
}