/*
 * @Author: yb 
 * @Date: 2018-01-25 09:48:01 
 * @Last Modified by: yb
 * @Last Modified time: 2018-01-25 14:41:30
 */


/* 单行文本溢出 */

.texts {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 多行文本溢出 */

.text-p {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
}


/*  table*/

.bayax-table {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.bayax-table td {
    max-width: 200px;
    min-width: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bayax-table tbody>tr:nth-of-type(even) {
    background-color: #f8fbfa;
}

.bayax-table tbody>tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}